/Equip$WeaponType.class
/Equip.class
/IInventory.class
/Inventory$InventoryType.class
/Inventory.class
/InventorySlot$ItemType.class
/InventorySlot.class
/InventoryTools$UpdatedSlots.class
/InventoryTools$WeaponClass.class
/InventoryTools.class
/Item.class
/Pet.class
/Ring.class
/TamingMob.class
