/AbsoluteLifeMovement.class
/ChairMovement.class
/ChangeEquipMovement.class
/FootholdChangedMovementFragment.class
/JumpDownMovement.class
/LifeMovementFragment$UpdatedEntityInfo.class
/LifeMovementFragment.class
/PositionChangedMovementFragment.class
/RelativeLifeMovement.class
/StanceChangedMovementFragment.class
/TeleportMovement.class
